html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
em, img,
small,
strong,
ol, ul, li,
article, aside,
footer, header,
menu, nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside,
footer, header,
menu, nav, section {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "outlined-iconset";
  src: url("../fonts/outlined-iconset.eot");
  src: url("../fonts/outlined-iconset.eot?#iefix") format("embedded-opentype"), url("../fonts/outlined-iconset.woff") format("woff"), url("../fonts/outlined-iconset.ttf") format("truetype"), url("../fonts/outlined-iconset.svg#outlined-iconset") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*=" icon-"]:before {
  font-family: "outlined-iconset" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  font-size: .75em;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e02c"; }

.icon-pencil:before {
  content: "\e051"; }

.icon-profile:before {
  content: "\e057"; }

.icon-agenda:before {
  content: "\e086"; }

.icon-arrow-left:before {
  content: "\e087"; }

.icon-arrow-right:before {
  content: "\e08c"; }

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff") format("woff"), url("../fonts/raleway-light.ttf") format("truetype"), url("../fonts/raleway-light.svg#ralewaylight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.svg#ralewaysemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: 700;
  font-style: normal; }
html {
  font-size: 112.5%;
  line-height: 1.333em; }

body {
  font-family: "Raleway Webfont";
  font-weight: 400;
  color: #333;
  background-color: white; }

h1 {
  font-size: 3.15733em;
  line-height: 1.26657em; }

h2 {
  font-size: 2.36859em;
  line-height: 1.12556em; }

h3 {
  font-size: 1.77689em;
  line-height: 1.12528em;
  font-weight: 300; }

h4 {
  font-size: 1.333em;
  line-height: 1.5em; }

h5 {
  font-size: 1em;
  line-height: 1.333em; }

h6, small {
  font-size: 0.75019em;
  line-height: 1.77689em; }

p, header, section, .grid__row {
  margin-bottom: 1.333em; }

a {
  color: inherit; }

strong {
  font-weight: 600; }

.grid__container, .grid__row, [class^="grid__col--"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.grid__container:after, .grid__row:after {
  content: "";
  clear: both;
  display: table; }

.grid__container {
  padding-right: 1.333em;
  padding-left: 1.333em;
  margin: 0 auto;
  max-width: 40em; }

.grid__row {
  margin-right: -1.333em;
  margin-left: -1.333em; }

[class^="grid__col--"] {
  float: left;
  padding-right: 1.333em;
  padding-left: 1.333em; }

.grid__col--1 {
  width: 16.66667%; }

.grid__col--2 {
  width: 33.33333%; }

.grid__col--3 {
  width: 50%; }

.grid__col--right {
  float: right; }

.grid__col--table {
  float: none;
  width: 10000px;
  display: table-cell; }

.list--inline > li, .list--commas > li {
  display: inline-block; }

.list--commas > li:not(:last-child):after {
  content: ","; }

.nav:after {
  content: "";
  clear: both;
  display: table; }

.nav--primary {
  margin-top: 2.666em;
  margin-bottom: 2.666em; }

.nav--secondary {
  margin-bottom: 2.666em;
  background-color: #e7e7e7;
  padding: 0 0.6665em; }
  .nav--secondary .nav__title, .nav--secondary a {
    display: inline-block;
    padding: 1.333em 0.6665em; }

.nav--small {
  padding: 0 0.99975em; }
  .nav--small a {
    display: inline-block;
    padding: 0.6665em 0.33325em; }

.nav__title {
  text-transform: capitalize; }

.nav__logo, .nav__left {
  float: left; }

.nav__menu, .nav__right {
  float: right; }

.catbloc:not(:target) {
  display: none; }

.catbloc:target {
  animation: slidedown .5s 1;
  -webkit-animation: slidedown .5s 1; }

@keyframes slidedown {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes slidedown {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.footer {
  margin-top: 2.666em; }

.lesson {
  padding-left: 16.66667%; }

.lesson__title {
  position: relative;
  text-transform: capitalize; }

.lesson__date {
  position: absolute;
  left: -16.66667%;
  margin-left: -0.6665em; }

.heading--secondary {
  color: #bdbebe;
  text-transform: uppercase;
  letter-spacing: .1em; }

.group1 .lesson__title span, .group1 a {
  color: #339ce6; }
.group1 a:hover, .group1 a:active, .group1 a:focus {
  color: #66b5ec; }
.group1 .nav--secondary, .group1.nav--secondary {
  background-color: #339ce6;
  color: white; }
  .group1 .nav--secondary a, .group1.nav--secondary a {
    color: inherit; }

.group2 .lesson__title span, .group2 a {
  color: #08bbbb; }
.group2 a:hover, .group2 a:active, .group2 a:focus {
  color: #46cccc; }
.group2 .nav--secondary, .group2.nav--secondary {
  background-color: #08bbbb;
  color: white; }
  .group2 .nav--secondary a, .group2.nav--secondary a {
    color: inherit; }

.group3 .lesson__title span, .group3 a {
  color: #ff5151; }
.group3 a:hover, .group3 a:active, .group3 a:focus {
  color: #ff7d7d; }
.group3 .nav--secondary, .group3.nav--secondary {
  background-color: #ff5151;
  color: white; }
  .group3 .nav--secondary a, .group3.nav--secondary a {
    color: inherit; }

.group4 .lesson__title span, .group4 a {
  color: #7777ff; }
.group4 a:hover, .group4 a:active, .group4 a:focus {
  color: #9999ff; }
.group4 .nav--secondary, .group4.nav--secondary {
  background-color: #7777ff;
  color: white; }
  .group4 .nav--secondary a, .group4.nav--secondary a {
    color: inherit; }
