html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre, a
em, img,
small,
strong,
ol, ul, li,
article, aside,
footer, header,
menu, nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside,
footer, header,
menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "outlined-iconset";
  src: url("../fonts/outlined-iconset.eot");
  src: url("../fonts/outlined-iconset.eot?#iefix") format("embedded-opentype"), url("../fonts/outlined-iconset.woff") format("woff"), url("../fonts/outlined-iconset.ttf") format("truetype"), url("../fonts/outlined-iconset.svg#outlined-iconset") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*=" icon-"]:before {
  font-family: "outlined-iconset" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  font-size: .75em;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e051"; }

.icon-share:before {
  content: "\e05e"; }

.icon-arrow-left:before {
  content: "\e087"; }

.icon-arrow-right:before {
  content: "\e08c"; }

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff") format("woff"), url("../fonts/raleway-light.ttf") format("truetype"), url("../fonts/raleway-light.svg#ralewaylight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.svg#ralewaysemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: 700;
  font-style: normal; }
html {
  font-size: 112.5%;
  line-height: 1.333em; }

body {
  font-family: "Raleway Webfont";
  font-weight: 400;
  color: #5f6368;
  background-color: #2a2f35; }

h1 {
  font-size: 3.15733em;
  line-height: 1.26657em; }

h2 {
  font-size: 2.36859em;
  line-height: 1.12556em; }

h3 {
  font-size: 1.77689em;
  line-height: 1.12528em;
  font-weight: 300; }

h4 {
  font-size: 1.333em;
  line-height: 1.5em; }

h5 {
  font-size: 1em;
  line-height: 1.333em; }

h6, small {
  font-size: 0.75019em;
  line-height: 1.77689em; }

p, header, section {
  margin-bottom: 1.333em; }

a {
  color: inherit; }
  a:hover, a:active, a:focus {
    opacity: .7; }

.active {
  color: #31da88; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

.highlight {
  background: #e7e7e7;
  padding: 0.1333em 0.6665em;
  box-sizing: border-box;
  margin-bottom: 2.666em;
  position: relative; }
  .highlight:after {
    content: "";
    clear: both;
    display: block; }
  .highlight:before {
    content: "";
    display: block;
    width: 49.5em;
    left: 50%;
    margin-left: -24.75em;
    height: .05em;
    background-color: #d7d7d7;
    position: absolute;
    bottom: -1.333em; }
  .highlight pre {
    white-space: normal;
    word-break: break-all; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.grid__container, .grid__row, [class^="grid__col--"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.grid__container:after, .grid__row:after {
  content: "";
  clear: both;
  display: table; }

.grid__container {
  padding-right: 1.333em;
  padding-left: 1.333em;
  margin: 0 auto;
  max-width: 60em; }

.grid__row {
  margin-right: -1.333em;
  margin-left: -1.333em; }

[class^="grid__col--"] {
  float: left;
  padding-right: 1.333em;
  padding-left: 1.333em; }

.grid__col--1 {
  width: 20%; }

.grid__col--2 {
  width: 40%; }

.grid__col--3 {
  width: 60%; }

.grid__col--right {
  float: right; }

.grid__col--table {
  float: none;
  width: 10000px;
  display: table-cell; }

.list--inline > li, .list--commas > li {
  display: inline-block; }

.list--commas > li:not(:last-child):after {
  content: ","; }

.nav:after {
  content: "";
  clear: both;
  display: table; }

.nav__left {
  float: left; }

.nav__right {
  float: right; }

.nav__logo, .nav__link {
  display: inline-block;
  padding-top: 0.6665em;
  padding-bottom: 0.6665em; }

.nav--primary {
  margin-top: 2.666em;
  margin-bottom: 2.666em; }
  .nav--primary .nav__link {
    margin-left: 1.333em; }

.nav--secondary {
  counter-reset: count__group; }
  .nav--secondary .nav__link {
    display: block;
    position: relative; }
    .nav--secondary .nav__link:not(:last-child):before {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      background-color: #3f4449;
      bottom: 0;
      left: 0; }

.group__ghost {
  visibility: hidden; }

.group__count:before {
  content: "Group "; }
.group__count:after {
  content: counter(count__group);
  counter-increment: count__group; }

.catbloc:not(:target) {
  display: none; }

.catbloc:target {
  animation: slidedown .5s 1;
  -webkit-animation: slidedown .5s 1; }

@keyframes slidedown {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes slidedown {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.footer {
  margin-top: 2.666em; }

.lesson {
  margin-bottom: 1.333em; }

.lesson__title {
  color: #b9b9b9; }
