html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre, a
code,
em, img,
small,
strong,
ol, ul, li,
article, aside,
footer, header,
menu, nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside,
footer, header,
menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: 0;
}

@font-face {
  font-family: "outlined-iconset";
  src: url("../fonts/outlined-iconset.eot");
  src: url("../fonts/outlined-iconset.eot?#iefix") format("embedded-opentype"), url("../fonts/outlined-iconset.woff") format("woff"), url("../fonts/outlined-iconset.ttf") format("truetype"), url("../fonts/outlined-iconset.svg#outlined-iconset") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*=" icon-"]:before {
  font-family: "outlined-iconset" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: .1em;
}

.icon-home:before {
  content: "\e02c";
}

.icon-minus:before {
  content: "\e03e";
}

.icon-pencil:before {
  content: "\e051";
}

.icon-plus:before {
  content: "\e053";
}

.icon-pricetag:before {
  content: "\e055";
}

.icon-profile:before {
  content: "\e057";
}

.icon-share:before {
  content: "\e05e";
}

.icon-arrow-left:before {
  content: "\e087";
}

.icon-arrow-up:before {
  content: "\e08b";
}

.icon-arrow-right:before {
  content: "\e08c";
}

@font-face {
  font-family: "Montserrat Webfont";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff") format("woff"), url("../fonts/raleway-light.ttf") format("truetype"), url("../fonts/raleway-light.svg#ralewaylight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.svg#ralewaysemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro-Regular.woff") format("woff"), url("../fonts/SourceCodePro-Regular.ttf") format("truetype"), url("../fonts/SourceCodePro-Regular.svg#SourceCodePro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 100%;
  line-height: 1.333;
}
@media screen and (min-width: 49em) {
  html {
    font-size: 106.25%;
  }
}

body {
  font-family: "Raleway Webfont";
  font-weight: 400;
  color: #34383b;
  background-color: #131416;
}

h1 {
  font-size: 3.15733em;
  line-height: 1.26657em;
}

h2 {
  font-size: 2.36859em;
  line-height: 1.12556em;
}

h3 {
  font-size: 1.77689em;
  line-height: 1.50038em;
  font-weight: 300;
}

h4 {
  font-size: 1.333em;
  line-height: 1.5em;
}

h5 {
  font-size: 1em;
  line-height: 1.333em;
}

h6,
small {
  font-size: 0.75019em;
  line-height: 1.77689em;
}

p {
  margin-top: 2.666em;
  line-height: 1.9995;
}

a:hover, a:active, a:focus {
  cursor: pointer;
}

.active {
  color: #858889;
}

strong {
  font-weight: 700;
}

em {
  font-style: normal;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

code, pre {
  font-family: "Source Code Pro";
  line-height: 1.9995em;
}

.overflow-ellipsis {
  display: block;
  width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::-moz-selection {
  color: inherit;
  background: inherit;
}

::selection {
  color: inherit;
  background: inherit;
}

.highlight {
  color: white;
  background-color: #1f2022;
  padding: 1.333em 0.6665em 1.333em;
  -moz-border-radius: 0.33325em;
  -webkit-border-radius: 0.33325em;
  border-radius: 0.33325em;
  box-sizing: border-box;
  margin-top: 1.333em;
  margin-bottom: 3.999em;
  position: relative;
  overflow-x: auto;
}
.highlight:after {
  content: "";
  clear: both;
  display: block;
}
.highlight pre {
  word-break: break-all;
  white-space: pre;
}
.highlight pre,
.highlight code {
  line-height: 1.333em;
}

.renders {
  font-weight: 500;
  color: #b6b6b6;
  border-bottom: 0.06665em solid #424345;
  background-color: #1f2022;
  margin-top: 1.333em;
  -moz-border-radius: 0.33325em 0.33325em 0 0;
  -webkit-border-radius: 0.33325em;
  border-radius: 0.33325em 0.33325em 0 0;
  padding: 1.333em 1.9995em;
}
.renders h1, .renders h2, .renders h3, .renders h4, .renders h5, .renders h6 {
  font-weight: 500;
}
.renders p {
  margin-top: 0;
}

.renders + .highlight {
  margin-top: 0em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.lineno {
  color: #807e7a;
}
.lineno:before {
  content: "";
  display: block;
}

.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
.highlight .k {
  color: white;
}

/* Keyword */
.highlight .o {
  font-weight: bold;
}

/* Operator */
.highlight .m {
  color: #66cccc;
}

/* Literal.Number */
.highlight .s {
  color: #99cc99;
}

/* Literal.String */
.highlight .na {
  color: #f99157;
}

/* Name.Attribute */
.highlight .nc {
  color: #f99157;
}

/* Name.Class */
.highlight .nt {
  color: #f26e5e;
}

/* Name.Tag */
.fade {
  opacity: 0;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -moz-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.collapse__link {
  display: block;
}

.collapse__panel > div:first-child {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 500;
  display: none;
  float: left;
  min-width: 20em;
  padding: 1.66625em 1.333em 4.6655em;
  list-style: none;
  text-align: left;
  background-color: #2c77dd;
  background-clip: padding-box;
  overflow: hidden;
}
.dropdown-menu p {
  margin-top: 0;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.hero__nav .dropdown__footer {
  background-color: #1858af;
  display: block;
  padding: 0.83312em 0;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}
.hero__nav .dropdown__footer:hover, .hero__nav .dropdown__footer:focus, .hero__nav .dropdown__footer:active {
  background-color: #1652a3;
}
.hero__nav .dropdown__footer .nav__icon,
.hero__nav .dropdown__footer .nav__text {
  float: right;
}
.hero__nav .dropdown__footer .nav__icon {
  margin-right: 1.333em;
}
.hero__nav .dropdown__footer .nav__text {
  margin-right: 0.6665em;
}

.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 490;
}

.layout__nav {
  background-color: #131416;
  position: relative;
  z-index: 1500;
}
@media screen and (min-width: 49em) {
  .layout__nav {
    float: left;
  }
}

.layout__hero {
  background-color: #e4e4e4;
}
@media screen and (min-width: 49em) {
  .layout__hero {
    display: table-cell;
    width: 10000px;
  }
}

.grid__container, .grid__row, [class^="grid__col--"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid__container:after, .grid__row:after {
  content: "";
  clear: both;
  display: table;
}

.grid__container {
  padding-right: 1.333em;
  padding-left: 1.333em;
  margin: 0 auto;
  max-width: 50em;
}
@media screen and (min-width: 49em) {
  .grid__container {
    max-width: 40em;
  }
}

.grid__row {
  margin-right: -1.333em;
}

[class^="grid__col--"] {
  float: left;
  position: relative;
  padding-right: 1.333em;
}

.grid__col--third {
  width: 33.33333%;
}

.grid__col--sidebar {
  width: 6em;
}

.grid__col--table {
  float: none;
  width: 10000px;
  display: table-cell;
}

ul, li + li {
  margin-top: 0.6665em;
}

.list--bullets > li:before {
  content: "\2022";
  display: inline-block;
  padding-right: 0.6665em;
}

.nav {
  overflow: hidden;
}

.nav__primary,
.nav__secondary,
.nav__left {
  float: left;
}

.nav__right {
  float: right;
}

.nav__link {
  color: #737478;
}
.nav__link.active {
  color: white;
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  background-color: #0d0e0f;
}

.nav__primary .nav__link, .nav__secondary .nav__toggle, .nav__secondary .nav__link, .hero__nav .nav__link {
  display: block;
  padding: 1.66625em 1.9995em;
  height: 1em;
}

.nav__collapse .nav__text {
  color: #a1a6ac;
  text-transform: uppercase;
  font-weight: 700;
}

.nav__primary {
  width: 100%;
}
@media screen and (min-width: 49em) {
  .nav__primary {
    width: auto;
  }
}
.nav__primary .nav__link.nav__toggle {
  float: right;
}
@media screen and (min-width: 49em) {
  .nav__primary .nav__link.nav__toggle {
    display: none;
  }
}
.nav__primary .nav__link {
  padding-left: 1.333em;
  padding-right: 1.333em;
  width: 1em;
  float: left;
}
@media screen and (min-width: 49em) {
  .nav__primary .nav__link {
    float: none;
    padding-left: 1.9995em;
    padding-right: 1.9995em;
  }
  .nav__primary .nav__link:first-child {
    margin-top: 4.3325em;
  }
}
.nav__primary .nav__text {
  display: none;
}
.nav__primary .nav__icon {
  height: 1em;
  width: 1em;
  display: inline-block;
}

.nav__secondary {
  position: relative;
}
@media screen and (min-width: 49em) {
  .nav__secondary {
    padding-top: 4.3325em;
  }
  .nav__secondary.collapse {
    height: auto !important;
    display: block;
  }
}
.nav__secondary .nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 2.3994em;
  padding-left: 2.99925em;
  display: none;
}
.nav__secondary .nav__toggle .nav__text,
.nav__secondary .nav__toggle .nav__dots {
  float: right;
}
.nav__secondary .nav__toggle .nav__text {
  display: none;
  margin-right: 1.66625em;
}
@media screen and (min-width: 49em) {
  .nav__secondary .nav__toggle {
    display: block;
  }
}
.nav__secondary .nav__link:after {
  content: "";
  clear: both;
  display: block;
}
.nav__secondary .nav__icon {
  float: right;
}

.hero__nav {
  color: white;
  background-color: #2c77dd;
  position: relative;
  z-index: 1000;
}
.hero__nav .nav__group {
  margin-left: -1.333em;
  margin-right: -1.333em;
}
.hero__nav .nav__link {
  padding-left: 1.333em;
  padding-right: 1.333em;
  float: left;
  color: inherit;
  width: 1em;
}
.hero__nav .nav__link:hover, .hero__nav .nav__link:focus, .hero__nav .nav__link:active {
  background-color: #1d69d2;
}
.hero__nav .nav__link [data-toggle="dropdown"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  padding: 1.66625em 1.333em;
}
.hero__nav .nav__link.active, .hero__nav .nav__link.open,
.hero__nav .nav__link .dropdown-menu {
  background-color: #1b63c6;
}
.hero__nav .nav__icon,
.hero__nav .nav__text {
  display: inline-block;
  float: left;
}
.hero__nav .nav__text {
  margin-left: 0.6665em;
}
.hero__nav .nav__prev,
.hero__nav .nav__next {
  width: auto;
}
.hero__nav .nav__prev .nav__text {
  margin-left: 0;
}
.hero__nav .nav__prev .nav__icon {
  margin-left: 0.6665em;
}
.hero__nav .nav__right {
  position: relative;
}
.hero__nav:after {
  content: "";
  clear: both;
  display: table;
}

.hero__nav__collapse {
  padding-bottom: 3.999em;
}

footer.hero__nav .grid__container {
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 49em) {
  footer.hero__nav .grid__container {
    padding-right: 1.333em;
    padding-left: 1.333em;
  }
}
footer.hero__nav .nav__link {
  padding-top: 1.66625em;
  padding-bottom: 1.333em;
}
footer.hero__nav .nav__next,
footer.hero__nav .nav__prev {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  height: auto;
}
footer.hero__nav .nav__prev {
  float: right;
}
footer.hero__nav .nav__prev .nav__text,
footer.hero__nav .nav__prev .nav__icon {
  float: right;
}
footer.hero__nav .nav__prev .nav__text {
  text-align: right;
}
footer.hero__nav .nav__text {
  display: block;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hero__sticky__right {
  right: 0;
  -moz-border-radius: 0 0 0 0.6665em;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 0.6665em;
  color: #a0a0a0;
  background-color: #e4e4e4;
  overflow: hidden;
  position: fixed;
  top: -0.06665em;
  z-index: 500;
}
.hero__sticky__right .nav__link {
  float: none;
  padding-top: 0.99975em;
  padding-bottom: 0.99975em;
}
@media screen and (min-width: 49em) {
  .hero__sticky__right .nav__link {
    float: left;
  }
}
.hero__sticky__right .nav__link:hover, .hero__sticky__right .nav__link:active, .hero__sticky__right .nav__link:focus {
  background-color: #dbdbdb;
}

section.grid__container {
  z-index: 250;
}

.collapse__panel .nav__text {
  padding-left: 2.666em;
}

.nav__dots {
  position: relative;
  top: -.35em;
}

.nav__dot {
  font-family: "Montserrat Webfont";
  font-weight: 500;
  font-size: 1.25em;
  line-height: .3;
  text-align: center;
  display: block;
  position: relative;
}

.group__icon {
  position: relative;
}
.group__icon:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  left: 35%;
  margin-left: -.5em;
  height: 1em;
  width: 1em;
  border: 0.1333em solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.nav__primary .group__icon--group1 {
  color: #3cb6ff;
}
.nav__primary .group__icon--group2 {
  color: #f7ad4e;
}
.nav__primary .group__icon--group3 {
  color: #54c56b;
}
.nav__primary .group__icon--group4 {
  color: #f84f28;
}

.home .nav__secondary .group__icon--group1, .topics .nav__secondary .group__icon--group1, .references .nav__secondary .group__icon--group1, .assignments .nav__secondary .group__icon--group1 {
  color: #3cb6ff;
}
.home .nav__secondary .group__icon--group2, .topics .nav__secondary .group__icon--group2, .references .nav__secondary .group__icon--group2, .assignments .nav__secondary .group__icon--group2 {
  color: #f7ad4e;
}
.home .nav__secondary .group__icon--group3, .topics .nav__secondary .group__icon--group3, .references .nav__secondary .group__icon--group3, .assignments .nav__secondary .group__icon--group3 {
  color: #54c56b;
}
.home .nav__secondary .group__icon--group4, .topics .nav__secondary .group__icon--group4, .references .nav__secondary .group__icon--group4, .assignments .nav__secondary .group__icon--group4 {
  color: #f84f28;
}

.group1 #nav__link--group1,
.group2 #nav__link--group2,
.group3 #nav__link--group3,
.group4 #nav__link--group4 {
  position: relative;
}
.group1 #nav__link--group1:before,
.group2 #nav__link--group2:before,
.group3 #nav__link--group3:before,
.group4 #nav__link--group4:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin-left: -0.6665em;
  height: 0.1333em;
  width: 1.333em;
}
@media screen and (min-width: 49em) {
  .group1 #nav__link--group1:before,
  .group2 #nav__link--group2:before,
  .group3 #nav__link--group3:before,
  .group4 #nav__link--group4:before {
    top: 50%;
    left: 0;
    height: 1.333em;
    margin-top: -0.6665em;
    margin-left: 0;
    width: 0.1333em;
  }
}

.group1 #nav__link--group1:before {
  background-color: #3cb6ff;
}

.group1 .nav__secondary .group__icon--group1 {
  color: #3cb6ff;
}

.group2 #nav__link--group2:before {
  background-color: #f7ad4e;
}

.group2 .nav__secondary .group__icon--group2 {
  color: #f7ad4e;
}

.group3 #nav__link--group3:before {
  background-color: #54c56b;
}

.group3 .nav__secondary .group__icon--group3 {
  color: #54c56b;
}

.group4 #nav__link--group4:before {
  background-color: #f84f28;
}

.group4 .nav__secondary .group__icon--group4 {
  color: #f84f28;
}

.progress__child:hover .group__icon--group1 {
  color: #3cb6ff;
}
.progress__child:hover .group__icon--group2 {
  color: #f7ad4e;
}
.progress__child:hover .group__icon--group3 {
  color: #54c56b;
}
.progress__child:hover .group__icon--group4 {
  color: #f84f28;
}

.progress__parent {
  position: relative;
}
.progress__parent:after {
  content: "";
  position: absolute;
  top: 0;
  left: 2.2661em;
  height: 100%;
  width: 0.1333em;
  background-color: #323337;
}

.progress__child {
  position: relative;
}
.progress__child:after, .progress__child:before {
  display: none;
  position: absolute;
  content: "";
  height: .35em;
  width: .35em;
  left: 2.14946em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #323337;
}
.progress__child:nth-child(2):before {
  display: block;
  top: 0;
}
.progress__child:last-child:after, .progress__child:last-child:before {
  display: block;
  bottom: 0;
}

.progress__item {
  position: absolute;
  top: 1.66625em;
  left: 1.9995em;
}
.progress__item:after {
  content: "";
  position: absolute;
  z-index: 50;
  top: -0.1333em;
  left: -0.3999em;
  height: 100%;
  width: 0.6665em;
  display: block;
  padding: 0.28326em 0.2666em 0;
  border: 0.1333em solid #323337;
  background-color: #131416;
  -moz-border-radius: 0.6665em;
  -webkit-border-radius: 0.6665em;
  border-radius: 0.6665em;
}
.progress__item .group__icon {
  display: block;
  float: none;
  position: relative;
  top: 0.2666em;
  margin-bottom: 0.2666em;
  -moz-transition: color 0.5s ease-in-out 0s;
  -o-transition: color 0.5s ease-in-out 0s;
  -webkit-transition: color 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: color 0.5s ease-in-out 0s;
}
.progress__item .group__icon:after {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  height: .4em;
  width: .4em;
  z-index: 100;
}
.progress__item .group__icon + .group__icon {
  margin-top: 0.2666em;
  margin-bottom: 0.2666em;
}

.nav__secondary {
  width: 100%;
}
@media screen and (min-width: 49em) {
  .nav__secondary {
    -moz-transition: width 0.5s ease-in-out 0s;
    -o-transition: width 0.5s ease-in-out 0s;
    -webkit-transition: width 0.5s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: width 0.5s ease-in-out 0s;
    width: 0;
  }
}

.noAnimation {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

#nav__secondary__toggle,
#nav__secondary__collapse {
  height: auto;
}
@media screen and (min-width: 49em) {
  #nav__secondary__toggle,
  #nav__secondary__collapse {
    width: 20em;
  }
}

@media screen and (min-width: 49em) {
  .nav--isOpen .nav__secondary,
  .nav__secondary--isOpen {
    width: 20em;
  }
}

.hero {
  padding-top: 5.332em;
  padding-bottom: 10.664em;
}
.hero ::-moz-selection {
  color: white;
  background: #2c77dd;
}
.hero ::selection {
  color: white;
  background: #2c77dd;
}

.footer {
  display: none;
  padding-bottom: 10.664em;
}
.footer .grid__container {
  overflow: hidden;
}

.tag {
  display: inline-block;
  padding: 0.06665em 0.6665em;
  border: 0.06665em solid;
  -moz-border-radius: 0.5332em;
  -webkit-border-radius: 0.5332em;
  border-radius: 0.5332em;
  margin-top: 0.6665em;
  margin-right: 0.6665em;
}

.panel {
  margin: 1.66625em 0;
  border: 0.06665em solid #c2c2c2;
  -moz-border-radius: 0.33325em;
  -webkit-border-radius: 0.33325em;
  border-radius: 0.33325em;
  overflow: hidden;
}
.panel ul, .panel li + li {
  margin-top: 0;
}
.panel .nav__link {
  color: #377ede;
  padding: 0.83312em 1.333em;
  -moz-border-radius: 0.33325em;
  -webkit-border-radius: 0.33325em;
  border-radius: 0.33325em;
}
.panel .nav__link:hover, .panel .nav__link:focus, .panel .nav__link:active {
  background-color: transparent;
  color: #73a5e8;
}
.panel .tag {
  color: #aeafb1;
  border-color: #aeafb1;
}
.panel .tag:hover, .panel .tag:focus, .panel .tag:active {
  background-color: transparent;
  color: #c2c3c4;
  border-color: #c2c3c4;
}
.panel .nav__text,
.panel .nav__icon {
  color: #34383b;
}
.panel .nav__text {
  text-transform: capitalize;
}
.panel .grid__col--table {
  padding-left: 1.333em;
}

.panel .panel__header,
.topics .panel .panel__header.nav__link
.references .panel .panel__header.nav__link {
  display: block;
  padding: 0.83312em 1.333em;
  background-color: #dfdfdf;
  -moz-border-radius: 0.33325em 0.33325em 0 0;
  -webkit-border-radius: 0.33325em;
  border-radius: 0.33325em 0.33325em 0 0;
}
.panel .panel__header:hover,
.topics .panel .panel__header.nav__link
.references .panel .panel__header.nav__link:hover, .panel .panel__header:focus,
.topics .panel .panel__header.nav__link
.references .panel .panel__header.nav__link:focus, .panel .panel__header:active,
.topics .panel .panel__header.nav__link
.references .panel .panel__header.nav__link:active {
  background-color: #dbdbdb;
}

.panel .panel__header .nav__icon,
.topics .panel .panel__header.nav__link
.references .panel .panel__header.nav__link .nav__icon {
  float: right;
}

.panel__body {
  border-top: 0.06665em solid #c2c2c2;
}
.panel__body .nav__text,
.panel__body .nav__icon {
  color: inherit;
}
.panel__body .nav__icon {
  margin-right: 0.6665em;
}

.topics .panel__body .nav__icon {
  color: #aeafb1;
}

.lesson__meta {
  overflow: hidden;
  margin-bottom: 0.6665em;
}

.lesson__category, .lesson__increment, .lesson__total {
  font-family: "Montserrat Webfont";
  font-size: .8em;
  display: inline-block;
}

.lesson__increment:after {
  content: "of";
  display: inline-block;
  padding: 0 0 0 0.33325em;
}
