// @font-face {
//     font-family: "Montserrat Webfont";
//     src: url('../fonts/montserrat-light.eot');
//     src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/montserrat-light.woff2') format('woff2'),
//     url('../fonts/montserrat-light.woff') format('woff'),
//     url('../fonts/montserrat-light.ttf') format('truetype'),
//     url('../fonts/montserrat-light.svg#montserratlight') format('svg');
//     font-weight: 300;
//     font-style: normal;
// }
@font-face {
    font-family: "Montserrat Webfont";
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff'),
        url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}