@include establish-baseline;
body {
    min-width: 1000px;
    font-family: "Raleway Webfont";    
    font-weight: 400;
    color: $body__color;
    background-color: $body__bg;
    @include transform( translate3d(0, 0, 0) );
}
h1 {
    @include adjust-font-size-to($h1);
}
h2 {
    @include adjust-font-size-to($h2);
}
h3 {
    @include adjust-font-size-to($h3);
    font-weight: 300;
}
h4 {
    @include adjust-font-size-to($h4);
}
h5 {
    @include adjust-font-size-to($h5);
}
h6,
small {
    @include adjust-font-size-to($h6);
}
p {
    @include margin-leader(2);
    line-height: $base-font-ratio * 1.5;
}
a {
    &:hover, &:active, &:focus {
        cursor: pointer;
    }
}
.active {
    color: tint($body__color, 40%);
}
strong {
    font-weight: 700;
}
em {
    font-style: normal;
    font-weight: 700;
}
.text-center {
    text-align: center;
}
code, pre {
    font-family: "Source Code Pro";
    line-height: rhythm(1.5);
}
.overflow-ellipsis {
    display: block;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
::-moz-selection {
    color: inherit;
    background: inherit;
}
::selection {
    color: inherit;
    background: inherit;
}
