@include establish-baseline;
body {
    font-family: "Raleway Webfont";    
    font-weight: 400;
    color: $body__color;
    //  Remove later
    background-color: $body__bg;
}
h1 {
    @include adjust-font-size-to($h1);
}
h2 {
    @include adjust-font-size-to($h2);
}
h3 {
    @include adjust-font-size-to($h3);
    font-weight: 300;
}
h4 {
    @include adjust-font-size-to($h4);
}
h5 {
    @include adjust-font-size-to($h5);
}
h6, small {
    @include adjust-font-size-to($h6);
}
p, section {
    @include margin-trailer(1);
}
a {
    color: inherit;
    &:hover, &:active, &:focus {
        opacity: .7;
    }
}
.active {
    color: $link__active;
}
strong {
    font-weight: 600;
}
em {
    font-style: italic;
}
.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}