@include establish-baseline;
body {
    font-family: "Raleway Webfont";    
    font-weight: 400;
    color: $body__color;
    //  Remove later
    background-color: $body__bg;
    counter-reset: lesson__count;
}
h1 {
    @include adjust-font-size-to($h1);
}
h2 {
    @include adjust-font-size-to($h2);
}
h3 {
    @include adjust-font-size-to($h3);
    font-weight: 300;
}
h4 {
    @include adjust-font-size-to($h4);
}
h5 {
    @include adjust-font-size-to($h5);
}
h6, small {
    @include adjust-font-size-to($h6);
}
p, ul {
    @include margin-leader(1);
    line-height: $base-font-ratio * 1.5;
}
a {
    color: $body__color;
    &:hover, &:active, &:focus {
        color: tint($body__color, 40%);
    }
}
.hero {
    color: shade($body__color, 30%);
    a {
        color: $primary__color;
    }
}
.active {
    color: tint($body__color, 40%);
}
strong {
    font-weight: 600;
}
em {
    font-style: italic;
}
// .overflow-ellipsis {
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }
.text-center {
    text-align: center;
}
code, pre {
    font-family: "Source Code Pro";
    line-height: rhythm(1.5);
}
.icon + .text {
    margin-left: rhythm(.5);
}