---
layout: layout__archive
title: assignments
permalink: /assignments/
---
<!-- nav__group: "navigation" -->
<nav class="nav">
    {% for page in site.pages %}
        {% if page.nav__group == 'class_groups' %}
            <a href="#{{ page.title }}">{{ page.title }}</a>
            {% if forloop.last %}.{% else %}, {% endif %}
        {% endif %}
    {% endfor %}
    <a class="nav__right" href="#allposts">see all</a>
</nav>
<div class="catbloc" id="allposts">
    <h4>All Assignments</h4>
    {% for page in site.pages %}
    {% if page.nav__group == 'class_groups' %}
    <div class="{{ page.title }}">
    {% for post in site.posts reversed %}
    {% if post.categories contains page.title %}                    
    <div class="grid__row">
        <div class="grid__col--1">
            <time>{{ post.date | date: "%-m/%-d" }}</time>
        </div>
        <div class="grid__col--right">            
            <a href="{{ '/' | append: post.group | prepend: site.baseurl | remove:' ' }}">{{ post.group }}</a>
        </div>
        <div class="grid__col--table">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
            <a href="{{ post.url | prepend: site.baseurl }}"><strong>{{ post.assignment }}</strong></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% for page in site.pages %}
{% if page.nav__group == 'class_groups' %}
<div class="catbloc {{ page.title }}" id="{{ page.title }}">
    <h4>All "{{ page.title }}" Assignments</h4>
    {% for post in site.posts reversed %}
    {% if post.categories contains page.title %}
    <div class="grid__row">
        <div class="grid__col--1">
            <time>{{ post.date | date: "%-m/%-d" }}</time>
        </div>
        <div class="grid__col--right">            
            <a href="{{ '/' | append: post.group | prepend: site.baseurl | remove:' ' }}">{{ post.group }}</a>
        </div>
        <div class="grid__col--table">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
            <a href="{{ post.url | prepend: site.baseurl }}"><strong>{{ post.assignment }}</strong></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endfor %}