---
layout: default
title: home
active: home
---
<div class="grid__row">
    <div class="grid__col--current count__group">
        <div class="sidebar">
            <header class="sidebar__header">
                <h5>Current Progress</h5>
            </header>
            <div class="sidebar__body">
                {% for page in site.pages %}
                {% if page.nav__group == 'class_groups'%}
                <div class="sidebar__item no__height">
                    {% for post in site.posts %}
                    {% for group in post.groups %}
                    {% if group contains page.title %}
                    <div class="group__item">
                        <span class="group__count"></span>
                        <span class="group__ghost">{{ page.title }}</span>
                        <span class="{{ page.title | append: '__progress' }}">•</span>
                        <div class="icon__group">
                            <div class="icon__item">
                                <a href="{{ page.members }}" target="_blank">
                                    <span class="icon icon-profile"></span>
                                </a>
                            </div>
                            <div class="icon__item">
                                <a href="{{ post.assignment }}" target="_blank">
                                    <span class="icon icon-pencil"></span>
                                </a>
                            </div>
                            <div class="icon__item">
                                <a href="{{ post.reference }}" target="_blank">
                                    <span class="icon icon-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="sidebar__link--large" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <div class="progress">
                        <div class="progress__bar">
                            <div class="{{ group }}" data-target="group__progress"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="grid__col--sidebar">
        <div class="sidebar">
            <header class="sidebar__header">
                <h5>All Lessons</h5>
            </header>
            <div class="sidebar__body">
            {% for category in site.categories %}
                <h5 class="sidebar__item [ category ]">
                    <strong>{{ category | first }}</strong>
                    <div class="icon__group">
                        <a class="icon__item" href="">
                            <span class="icon icon-minus"></span>
                        </a>    
                    </div>
                </h5>
                {% for posts in category %}
                {% for post in posts reversed %}
                <div class="sidebar__item">
                    <a class="sidebar__link nav__link" data-target="nav__isActive" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                        {{ post.title }}
                    </a>
                    <div class="icon__group">
                        <div class="icon__item">
                            {% for group in post.groups %}
                            <span class="nav__progress {{ group | append: '__progress' }}" data-target="{{ group | append: '__count' }}">•</span>
                            {% endfor %}
                        </div>
                        <div class="icon__item">
                            <a href="{{ post.reference }}" target="_blank">
                                <span class="icon icon-share"></span>
                            </a>
                        </div>
                        <div class="icon__item">
                            <a href="{{ post.assignment }}">
                                <span class="icon icon-pencil"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="grid__col--hero">
        <div class="hero">
            <header class="hero__header">
                {% for post in site.posts %}
                {% if post.isFirst %}
                <a class="nav__next" href="{{ post.url | prepend: site.baseurl }}">
                    Get Started
                    <span class="icon icon-arrow-right"></span>
                </a>
                {% endif %}
                {% endfor %}
            </header>
            <div class="hero__body">
                <h3>Welcome to Dealeron Academy</h3>
                <p><strong>Purpose</strong><br>The purpose of DealerOn Academy is to equip you with fundamental knowledge and tools to be an effective coder at home in a production environment.</p>
                <p><strong>Goal</strong><br>Upon completion HTML & CSS will no longer be an intimidating, convuluted language, but will be a tool just as a paintbrush is to an artist.</p>
                <p><strong>How to use this site:</strong><br>Navigate to your current lesson via the “current” sidebar or choose a lesson under the “lessons” sidebar. The following are also available throughout the site:</p>
                <div class="grid__row">
                    <div class="grid__col--sidebar text-center">
                        <p><a href="" class="tag">topic</a></p>
                    </div>
                    <div class="grid__col--table">
                        <p><strong>Topics</strong><br>Vary per lesson, a.k.a. “tags”.</p>
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__col--sidebar text-center">
                        <p><span class="icon icon-share"></span></p>
                    </div>
                    <div class="grid__col--table">
                        <p><strong>References</strong><br>External links, mentioned in lecture.</p>
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__col--sidebar text-center">
                        <p><span class="icon icon-pencil"></span></p>
                    </div>
                    <div class="grid__col--table">
                        <p><strong>Assignments</strong><br>Homework, welcome to school.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>