---
layout: layout__archive
title: members
permalink: /members/
---
<!-- nav__group: "navigation" -->
<nav class="nav nav--secondary nav--small">
    {% for page in site.pages %}
        {% if page.nav__group == 'class_groups' %}
            <a href="#{{ page.title }}">{{ page.title }}</a>
        {% endif %}
    {% endfor %}
    <a class="nav__right" href="#allposts">see all</a>
</nav>
<div class="catbloc" id="allposts">
    <h5 class="heading--secondary">All Members</h5>
    {% for page in site.pages %}
    {% if page.nav__group == 'class_groups' %}
    <div class="grid__row {{ page.title }}">
        <div class="grid__col--right">
            <a href="{{ '/' | append: page.title | prepend: site.baseurl | remove:' ' }}">{{ page.title }}</a>
        </div>
        <div class="grid__col--table">
            <ul class="list--commas">
                {% for member in page.members %}
                <li>{{ member }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% for page in site.pages %}
{% if page.nav__group == 'class_groups' %}
<div class="catbloc {{ page.title }}" id="{{ page.title }}">
    <h5 class="heading--secondary">All "{{ page.title }}" Members</h5>
    <div class="grid__row {{ page.title }}">
        <div class="grid__col--right">
            <a href="{{ '/' | append: page.title | prepend: site.baseurl | remove:' ' }}">{{ page.title }}</a>
        </div>
        <div class="grid__col--table">
            <ul class="list--commas">
                {% for member in page.members %}
                <li>{{ member }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}