---
layout: layout__archive
title: references
permalink: /references/
nav__group: "navigation"
---
<nav class="nav">
    {% for tag in site.tags sort %}
        <a href="#{{ tag | first | remove:' ' }}"><strong>{{ tag | first }}</strong></a>
        {% if forloop.last %}.{% else %}, {% endif %}
    {% endfor %}
    <a class="nav__right" href="#allposts">see all</a>
</nav>
<div class="catbloc" id="allposts">
    <h4>All References</h4>
    {% for post in site.posts reversed %}
    {% if post.reference %}
    <div class="grid__row {{ post.group }}">
        <div class="grid__col--1">
            <time>{{ post.date | date: "%-m/%-d" }}</time>
        </div>
        <div class="grid__col--right">            
            <a href="{{ '/' | append: post.group | prepend: site.baseurl | remove:' ' }}">{{ post.group }}</a>
        </div>
        <div class="grid__col--table">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
            <a href="{{ post.reference | prepend: site.baseurl }}"><strong>{{ post.reference }}</strong></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% for tag in site.tags %}
<div class="catbloc" id="{{ tag | first | remove:' ' }}">
    <h4>All References under "{{ tag | first }}" tag</h4>
    {% for posts in tag %}
    {% for post in posts reversed %}
    
    {% if post.url %}
    {% if post.reference %}
    <div class="grid__row {{ post.group }}">
        <div class="grid__col--1">
            <time>{{ post.date | date: "%-m/%-d" }}</time>
        </div>
        <div class="grid__col--right">            
            <a href="{{ '/' | append: post.group | prepend: site.baseurl | remove:' ' }}">{{ post.group }}</a>
        </div>
        <div class="grid__col--table">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
            <a href="{{ post.reference | prepend: site.baseurl }}"><strong>{{ post.reference }}</strong></a>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% endfor %}
    {% endfor %}
</div>
{% endfor %}