<nav class="nav nav--primary">
    <div class="grid__container">
        <div class="nav__left">
            <a class="nav__logo" href="{{ '/' | prepend: site.baseurl }}">{{ site.name }}</a>
        </div>
        <div class="nav__right">
            {% if page.active == "home" %}
            <a class="nav__home active" href="#">home</a>
            {% else %}
            <a class="nav__home" href="/">home</a>
            {% endif %}
            {% assign nav__menu = site.pages %}
            {% assign nav__group = 'navigation' %}
            {% include nav__menu.html %}
        </div>
    </div>
</nav>