<nav class="nav--primary">
    <div class="grid__container">
        <div class="nav__logo">
            <a class="nav__link" href="{{ '/' | prepend: site.baseurl }}">{{ site.name }}</a>
        </div>
        <div class="nav__menu">
            {% if page.active == "home" %}
            <a class="nav__link active" href="{{ '/' | prepend: site.baseurl }}">
                <span class="icon icon-home"></span>
                home
            </a>
            {% else %}
            <a class="nav__link" href="{{ '/' | prepend: site.baseurl }}">
                <span class="icon icon-home"></span>
                home
            </a>
            {% endif %}
            {% assign nav__menu = site.pages %}
            {% assign nav__group = 'navigation' %}
            {% include nav__menu.html %}
        </div>
    </div>
</nav>