.lesson__meta {
    overflow: hidden;    
    // color: $blue;
    @include margin-trailer(.5);
}

%lesson__format {
    font-family: "Montserrat Webfont";
    font-size: .8em;
    display: inline-block;
}
.lesson__category {
    @extend %lesson__format;
}
.lesson__increment {
    @extend %lesson__format;
    &:after {
        content: "of";
        display: inline-block;
        padding: 0 0 0 rhythm(.25);
    }    
}
.lesson__total {
    @extend %lesson__format;
    
}
// .hero__nav {
//     .lesson__total {
//         &:after {
//             content: ":";
//         }
//     }
// }