%filter__padding {
    padding: rhythm(.5) rhythm(1);
}
.filter__header {
    @extend %filter__padding;
    background-color: $filter__header__bg;
}
.filter__body {
    @extend %filter__padding;
    background-color: $filter__body__bg;
}
.filter {
    .nav__link {
        @include rhythm-margins(.25, .5);
        position: relative;
        &:after {
            content: "";
            clear: both;
            display: block;
        }
        &:not(:last-child):before {
            content: "";
            display: block;
            position: absolute;
            bottom: rhythm(.25) * -1;
            left: rhythm(1) * -1;
            height: 1px;
            width: 125%;
            background-color: tint($body__bg, 5%);
        }
    }
    .nav__text {
        float: left;
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .nav__progress {
        float: right;
    }
}