.group1__progress {
    color: $group1__bg;
}
.group2__progress {
    color: $group2__bg;
}
.group3__progress {
    color: $group3__bg;
}
.group4__progress {
    color: $group4__bg;
}
.progress {
    overflow: hidden;
}
.progress__bar {
    width: 100%;
    float: left;
    position: relative;
    top: 0;
    height: rhythm(.25);
    border: 1px solid $body__bg;
    @include border-radius(rhythm(.25));
    &:after {
        content: "";
        background-color: shade($body__bg, 10%);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        @include border-radius(rhythm(.25));
    }
}
[data-target="group__progress"] {
    height: 100%;
    @include border-radius(rhythm(.25));
    background-color: shade($body__bg, 25%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}