.heading--primary {
    @include rhythm-margins(.5);
}

.heading--secondary {
    font-family: "Montserrat Webfont";
    font-size: $heading--secondary__size;
    text-transform: uppercase;
    letter-spacing: .1em;
}
