.hero {
    @include rhythm-padding(2,8);
    @include media(large) {
        @include padding-leader(4);
    }
    ::-moz-selection {
        color: white;
        background: $hero__header__bg;
    }
    ::selection {
        color: white;
        background: $hero__header__bg;
    }
}