.hero {
    @include rhythm-padding(4,8);
    ::-moz-selection {
        color: white;
        background: $hero__header__bg;
    }
    ::selection {
        color: white;
        background: $hero__header__bg;
    }
}