////////////////////////////////
//
//  Nav                 Global
//
.nav {
    overflow: hidden;
}
.nav__primary,
.nav__secondary,
.nav__left {
    float: left;
}
.nav__right {
    float: right;
}

////////////////////////////////
//
//  Nav Link            Global
//
.nav__link {
    color: $nav__link__color;
    // background-color: $nav__link__bg;
    // @include transition( background-color .1s ease-in-out 0s);
    &.active {
        color: $nav__link__color--active;
    }
    &:hover, &:focus, &:active {
        background-color: $nav__link__bg--hover;
    }
}
%nav__link__format {
    display: block;
    padding: $nav__vert $nav__horz;
    height: 1em;
}

////////////////////////////////
//
//  Nav Collapse        Global
//
.nav__collapse {
    .nav__text {
        color: $nav__collapse__color;
        text-transform: uppercase;
        font-weight: 700;
    }
}

////////////////////////////////
//
//  Nav Primary         Local
//
.nav__primary {
    .nav__link {
        @extend %nav__link__format;
        width: 1em;
        &:first-child {
            margin-top: ($nav__vert * 2) + 1;
        }
    }
    // .nav__toggle {
    //     visibility: hidden;   
    // }
    .nav__text {
        display: none;
    }
    .nav__icon {
        height: 1em;
        width: 1em;
        display: inline-block;
    }
}

////////////////////////////////
//
//  Nav Secondary       Local
//
.nav__secondary {
    // width: $nav__secondary__width;
    position: relative;
    padding-top: ($nav__vert * 2) + 1;
    .nav__toggle {
        @extend %nav__link__format;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: ($nav__horz * 1.2);
        padding-left: ($nav__horz * 1.5);
        .nav__text,
        .nav__dots {
            float: right;
        }
        .nav__text {
            display: none;
            margin-right: $nav__vert;
        }
    }
    .nav__link {
        @extend %nav__link__format;
        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }
    .nav__icon {
        float: right;
    }
}

////////////////////////////////
//
//  Hero Nav            Global
//
.hero__nav {
    color: $hero__header__color;
    background-color: $hero__header__bg;
    position: relative;
    z-index: 1000;
    .nav__group {
        margin-left: $grid__gutter * -1;
        margin-right: $grid__gutter * -1;
    }
    .nav__link {
        @extend %nav__link__format;
        padding-left: $grid__gutter;
        padding-right: $grid__gutter;
        float: left;
        color: inherit;
        width: 1em;        
        &:hover, &:focus, &:active {
            background-color: $hero__header__link__bg--hover;
        }
        [data-toggle="dropdown"] {
            position: absolute;
            top: 0;
            left: 0;
            height: 1em;
            width: 1em;
            padding: $nav__vert $grid__gutter;
        }
        &.active,
        &.open,
        .dropdown-menu {
            background-color: $hero__dropdown-menu__bg;
        }
    }
    .nav__icon,
    .nav__text {
        display: inline-block;
        float: left;
    }
    .nav__text {
        margin-left: $grid__gutter / 2;
    }
    .nav__prev,
    .nav__next {
        width: auto;   
    }
    .nav__prev {
        .nav__text {
            margin-left: 0;
        }
        .nav__icon {
            margin-left: $grid__gutter / 2;        
        }
    }
    .nav__right {
        position: relative;
    }
    .nav__link--right {
        position: absolute;
        right: ($grid__gutter * 2) + 1;
    }
    .nav__link--home {
        position: absolute;        
        right: ($grid__gutter * 4) + 2;
    }
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}
.hero__nav__collapse {
    @include padding-trailer(3);
}


////////////////////////////////
//
//  Nav Sticky          Global
//
.hero__sticky__right {
    right: $grid__gutter;
}
.hero__sticky__left {
    left: ($nav__horz * 1.5) + ($grid__gutter * 2);
}
.hero__sticky__right,
.hero__sticky__left {
    .nav__group {
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
    .nav__title {
        @extend %nav__link__format;
        position: relative;
        top: rhythm(.1) * -1;
    }
    color: shade($layout__hero__bg,30%);
    background-color: $layout__hero__bg;
    // border-bottom: rhythm(.05) solid shade($layout__hero__bg,15%);
    // border-left: rhythm(.05) solid shade($layout__hero__bg,15%);
    position: fixed;
    top: rhythm(.05) * -1;
    z-index: 500;
    .nav__link {
        &:hover, &:active, &:focus {
            background-color: shade($layout__hero__bg,4%);
        }
    }
}

.nav--isOpen .hero__sticky__left {
    left: ($nav__horz * 1.5) + ($grid__gutter * 2) + $nav__secondary__width;
}

section.grid__container {
    z-index: 250;
}


////////////////////////////////
//
//  Nav Collapse        Local
//
.collapse__panel {
    .nav__text {
        padding-left: rhythm(2);
    }
}

////////////////////////////////
//
//  Nav Menu Icon       Global
//
.nav__dots {
    position: relative;
    top: -.35em;
}
.nav__dot {
    font-family: "Montserrat Webfont";
    font-weight: 500;
    font-size: 1.25em;
    line-height: .3;
    text-align: center;
    display: block;
    position: relative;
}

////////////////////////////////
//
//  Nav Circle Icon     Global
//
.group__icon {
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        left: 35%;
        margin-left: -.5em;
        height: 1em;
        width: 1em;
        border: rhythm(.1) solid;
        @include border-radius(50%);
    }
}

////////////////////////////////
//
//  Nav Active States   Global
//

.nav__primary {
    .group__icon--group1 { color: $group1__bg; }
    .group__icon--group2 { color: $group2__bg; }
    .group__icon--group3 { color: $group3__bg; }
    .group__icon--group4 { color: $group4__bg; }
}

.home, .topics, .references, .assignments {
    .nav__secondary .group__icon--group1 { color: $group1__bg; }
    .nav__secondary .group__icon--group2 { color: $group2__bg; }
    .nav__secondary .group__icon--group3 { color: $group3__bg; }
    .nav__secondary .group__icon--group4 { color: $group4__bg; }
}

.group1 #nav__link--group1,
.group2 #nav__link--group2,
.group3 #nav__link--group3,
.group4 #nav__link--group4 {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        height: rhythm(1);
        margin-top: rhythm(.5) * -1;
        width: rhythm(.1);
    }
}

.group1 #nav__link--group1:before { background-color: $group1__bg; }
.group1 .nav__secondary .group__icon--group1 { color: $group1__bg; }

.group2 #nav__link--group2:before { background-color: $group2__bg; }
.group2 .nav__secondary .group__icon--group2 { color: $group2__bg; }

.group3 #nav__link--group3:before { background-color: $group3__bg; }
.group3 .nav__secondary .group__icon--group3 { color: $group3__bg; }

.group4 #nav__link--group4:before { background-color: $group4__bg; }
.group4 .nav__secondary .group__icon--group4 { color: $group4__bg; }


////////////////////////////////
//
//  Nav Progress Item   Global
//
.progress__parent {
    position: relative;
    &:after {
        content: "";
        position: absolute;

        top: 0;
        left: rhythm(1.7);
        
        height: 100%;
        width: rhythm(.1);

        background-color: #323337;
    }
}
.progress__child {
    position: relative;
    &:after,
    &:before {
        display: none;

        position: absolute;
        content: "";
    
        height: .35em;
        width: .35em;

        left: rhythm(1.6125);
        @include border-radius(50%);

        background-color: #323337;
    }
    &:nth-child(2):before {
        display: block;
        top: 0;
    }
    &:last-child:after,
    &:last-child:before {
        display: block;
        bottom: 0;
    }
}
.progress__item {
    position: absolute;
    top: $nav__vert;
    left: $nav__horz;

    &:after {
        content: "";
        position: absolute;
        z-index: 50;

        top: rhythm(.1) * -1;
        left: rhythm(.3) * -1;

        height: 100%;
        width: rhythm(.5);

        display: block;
        padding: rhythm(.2125) rhythm(.2) 0;

        border: rhythm(.1) solid #323337;
        background-color: #131416;
        @include border-radius(rhythm(.5));
    }

    .group__icon {
        display: block;
        float: none;
        position: relative;
        top: rhythm(.2);
        @include margin-trailer(.2);
        &:after {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 0;
            margin-left: 0;
            height: .4em;
            width: .4em;
            z-index: 100;
        }
    }
    .group__icon + .group__icon {
        margin-top: rhythm(.2);
        margin-bottom: rhythm(.2);
    }
}

////////////////////////////////
//
//  Nav S... Anim...    Global
//
.nav__secondary {
    width: 0;
    @include transform( translate3d(0, 0, 0) );
    @include transition( width .5s ease-in-out 0s);
}
.noAnimation {
    @include transition( none );    
}
#nav__secondary__toggle,
#nav__secondary__collapse {
    height: auto;
    width: $nav__secondary__width;
}
.nav__secondary--isOpen {
    width: $nav__secondary__width;
}

////////////////////////////////
//
//  Group Counter       Global
//
.count__group {
    counter-reset: count__group;
}
.group__ghost {
    visibility: hidden;
    position: absolute;
}
.group__count {
    &:before,
    &:after {
        font-weight: 600;
    }
    &:before {
        content: "Group ";
    }
    &:after {
        content: counter(count__group);
        counter-increment: count__group;
    }
}



.catbloc:not(:target) {
    display: none;
}
// .catbloc:target {
//     animation: slidedown 3s 1;
//     -webkit-animation: slidedown 3s 1;
// }
// @keyframes slidedown {
//     from {
//         opacity: 0;
//         // transform: translate(0, -50px);
//     }
//     to {
//         opacity: 1;
//         // transform: translate(0);
//     }
// }
// @-webkit-keyframes slidedown {
//     from {
//         opacity: 0;
//         // -webkit-transform: translate(0, -50px);
//     }
//     to {
//         opacity: 1;
//         // -webkit-transform: translate(0);
//     }
// }