.nav:after {
    content: "";
    clear: both;
    display: table;
}
.nav__left {
    float: left;
}
.nav__right {
    float: right;
}
.nav__link {
    text-transform: lowercase;
}
.nav__logo, .nav__link {
    display: inline-block;
    @include rhythm-padding(.5);
}
.nav--primary {
    @include rhythm-margins(2);
    .nav__link {
        margin-left: rhythm(1);
    }
}
.nav--secondary {
    counter-reset: count__group;
    .nav__link {
        color: tint($body__color, 20%);
        padding-left: rhythm(1);
        display: block;
        position: relative;
        &:not(:last-child):before {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            position: absolute;
            background-color: tint($body__bg, 10%);
            bottom: 0;
            left: 0;
            z-index: 30;
        }
        &.active {
            color: $link__active;
        }
    }
}

.group__ghost {
    visibility: hidden;
}
.group__count {
    &:before {
        content: "Group ";
    }
    &:after {
        content: counter(count__group);
        counter-increment: count__group;
    }
}



.catbloc:not(:target) {
    display: none;
}
// .catbloc:target {
//     animation: slidedown 3s 1;
//     -webkit-animation: slidedown 3s 1;
// }
// @keyframes slidedown {
//     from {
//         opacity: 0;
//         // transform: translate(0, -50px);
//     }
//     to {
//         opacity: 1;
//         // transform: translate(0);
//     }
// }
// @-webkit-keyframes slidedown {
//     from {
//         opacity: 0;
//         // -webkit-transform: translate(0, -50px);
//     }
//     to {
//         opacity: 1;
//         // -webkit-transform: translate(0);
//     }
// }