[class^="nav--"]:after, .clearfix {
    content: "";
    clear: both;
    display: table;
}
.go__parent {
    overflow: hidden;
}
.nav__left, .go__left {
    float: left;
}
.nav__right, .go__right {
    float: right;
}
.nav__link {
    display: block;
    color: $nav__link__color;
    &:hover, &:focus, &:active, &.active {
        color: inherit;
    }
}
.nav--primary {
    @include rhythm-padding(1);
    @include margin-trailer(2);
    .nav__link {
        float: left;
        padding-right: rhythm(.5);
        padding-left: rhythm(.5);
        &:last-child {
            padding-right: 0;
        }
        &.active {
            color: complement($lesson__header__bg--start);
        }
    }
    .nav__logo {
        padding-left: 0;
    }
}

.count__group {
    counter-reset: count__group;
}


.group__ghost {
    visibility: hidden;
    position: absolute;
}
.group__count {
    &:before {
        content: "Group ";
    }
    &:after {
        content: counter(count__group);
        counter-increment: count__group;
    }
}



.catbloc:not(:target) {
    display: none;
}
// .catbloc:target {
//     animation: slidedown 3s 1;
//     -webkit-animation: slidedown 3s 1;
// }
// @keyframes slidedown {
//     from {
//         opacity: 0;
//         // transform: translate(0, -50px);
//     }
//     to {
//         opacity: 1;
//         // transform: translate(0);
//     }
// }
// @-webkit-keyframes slidedown {
//     from {
//         opacity: 0;
//         // -webkit-transform: translate(0, -50px);
//     }
//     to {
//         opacity: 1;
//         // -webkit-transform: translate(0);
//     }
// }