.sidebar,
.hero {
    @include padding-leader(2);
}


%vertical__rhythm {
    @include padding-trailer(.75);
    @include margin-trailer(.75);
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}
.sidebar__header,
.hero__header {
    @extend %vertical__rhythm;
}
.sidebar__body,
.hero__body {
    @extend %vertical__rhythm;
}
.sidebar__item,
.hero__item {
    @extend %vertical__rhythm;
    height: rhythm(1);
    .icon__group {
        float: right;
    }
}
.no__height {
    height: auto;
}

%sidebar__link {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar__link {
    @extend %sidebar__link;
    width: 70%;
}
.sidebar__link--large {
    @extend %sidebar__link;
    width: 90%;
}


.category,
.separation {
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: shade($body__bg, 10%);
    }
}
.grid__row.separation:before {
    left: rhythm(2);
    width: calc(100% - 5.333em);
}



.grid__col--current {
    .sidebar__link--large {
        @include rhythm-margins(0,.25);
    }
}


.category + div {
    display: none;
}

