
.tag {
    display: inline-block;
    float: left;
    padding: rhythm(.125) rhythm(.5); 
    border: 1px solid tint($body__bg, 10%);
    @include border-radius(rhythm(.25));
    @include margin-trailer(.5);
    &:not(:first-child) {
        margin-left: rhythm(.5);
    }
}
.topics .tag {
    margin-bottom: rhythm(.25) * -1;
    margin-top: rhythm(.25) * -1;
}