.group1 {
    a {
        color: $group1__color;
        &:hover, &:active, &:focus {
            color: shade($group1__color, 15%);
        }
    }
}

.group2 {
    a {
        color: $group2__color;
        &:hover, &:active, &:focus {
            color: shade($group2__color, 15%);
        }
    }
}

.group3 {
    a {
        color: $group3__color;
        &:hover, &:active, &:focus {
            color: shade($group3__color, 15%);
        }
    }
}

.group4 {
    a {
        color: $group4__color;
        &:hover, &:active, &:focus {
            color: shade($group4__color, 15%);
        }
    }
}