.group1 {
    .lesson__title span, a {
        color: $group1__color;
    }
    a:hover, a:active, a:focus {
        color: tint($group1__color, 25%);
    }
    .nav--secondary, &.nav--secondary {
        background-color: $group1__color;
        color: white;
        a {
            color: inherit;
        }
    }
}

.group2 {
    .lesson__title span, a {
        color: $group2__color;
    }
    a:hover, a:active, a:focus {
        color: tint($group2__color, 25%);
    }
    .nav--secondary, &.nav--secondary {
        background-color: $group2__color;
        color: white;
        a {
            color: inherit;
        }
    }
}

.group3 {
    .lesson__title span, a {
        color: $group3__color;
    }
    a:hover, a:active, a:focus {
        color: tint($group3__color, 25%);
    }
    .nav--secondary, &.nav--secondary {
        background-color: $group3__color;
        color: white;
        a {
            color: inherit;
        }
    }
}

.group4 {
    .lesson__title span, a {
        color: $group4__color;
    }
    a:hover, a:active, a:focus {
        color: tint($group4__color, 25%);
    }
    .nav--secondary, &.nav--secondary {
        background-color: $group4__color;
        color: white;
        a {
            color: inherit;
        }
    }
}