////////////////////////////////
//
//  TYPOGRAPHY
//
$round-to-nearest-half-line: true;  //  ensure "visually" appealing vertical rhythm
$base-font-size: 18px;              //  assume 16px is 100% for all devices
$base-font-ratio: 1.333;            //  line height - also ratio for font size
$base-line-height: $base-font-size * $base-font-ratio;

$h5:              $base-font-size;
$h6:              $h5 / $base-font-ratio;
$h4:              $h5 * $base-font-ratio;
$h3:              $h4 * $base-font-ratio;
$h2:              $h3 * $base-font-ratio;
$h1:              $h2 * $base-font-ratio;

////////////////////////////////
//
//  Body
//
$body__color:   #333;
$body__bg:      white;

$link__active:  crimson;

////////////////////////////////
//
//  Grid
//
$grid__container__width: 40em;
$grid__gutter:  rhythm(1);

//  breakpoints
$screen--large: $grid__container__width + 6em;

////////////////////////////////
//
//  Groups
//
$base__color: hsla(206, 66%, 50%, 1);



$group1__color: $base__color;
$group2__color: $base__color;
$group3__color: $base__color;
$group4__color: $base__color;

////////////////////////////////
//
//  Headings
//
$heading--secondary__color: #9a9a9a;

////////////////////////////////
//
//  Lesson
//
$lesson__tag__color--hover: #9a9a9a;



