////////////////////////////////
//
//  TYPOGRAPHY
//
$round-to-nearest-half-line: true;  //  ensure "visually" appealing vertical rhythm
$base-font-size: 18px;              //  assume 16px is 100% for all devices
$base-font-ratio: 1.333;            //  line height - also ratio for font size
$base-line-height: $base-font-size * $base-font-ratio;

$h5:              $base-font-size;
$h6:              $h5 / $base-font-ratio;
$h4:              $h5 * $base-font-ratio;
$h3:              $h4 * $base-font-ratio;
$h2:              $h3 * $base-font-ratio;
$h1:              $h2 * $base-font-ratio;

////////////////////////////////
//
//  Body
//
$body__bg:      #2a2f35;
$body__color:   tint($body__bg, 25%);
// #4e5256

$link__active:  #31da88;

////////////////////////////////
//
//  Lesson
//
$lesson__title__color: #b9b9b9;

////////////////////////////////
//
//  Grid
//
$grid__container__width: 60em;
$grid__gutter:  rhythm(1);

//  breakpoints
$screen--large: $grid__container__width + 6em;