////////////////////////////////
//
//  TYPOGRAPHY
//
$round-to-nearest-half-line: true;  //  ensure "visually" appealing vertical rhythm
$base-font-size: 18px;              //  assume 16px is 100% for all devices
$base-font-ratio: 1.333;            //  line height - also ratio for font size
$base-line-height: $base-font-size * $base-font-ratio;

$h5:              $base-font-size;
$h6:              $h5 / $base-font-ratio;
$h4:              $h5 * $base-font-ratio;
$h3:              $h4 * $base-font-ratio;
$h2:              $h3 * $base-font-ratio;
$h1:              $h2 * $base-font-ratio;

////////////////////////////////
//
//  Color
//
$base__color: #1b1e22;

$blue: #377ede;
$primary__color: $blue;

////////////////////////////////
//
//  Body
//
$body__bg:      $base__color;
$body__color:   tint($body__bg, 40%);

// $link__active:  #31da88;
// $link__active:  #f26e5e;
$link__active:  tint($body__bg, 60%);

////////////////////////////////
//
//  Group
//
$group1__bg: #3a8dff;
$group2__bg: #dca359;
$group3__bg: #52c66e;
$group4__bg: #d74728;

////////////////////////////////
//
//  Lesson
//
$lesson__title__color: tint($body__bg, 80%);
$lesson__date__gutter: percentage(1/7);

////////////////////////////////
//
//  Grid
//
$grid__container__width: 90em;
$grid__gutter:  rhythm(2);

$hero__bg: $body__bg;
// $hero__bg: tint($body__bg, 10%);
$hero__color: $body__color;
// $hero__color: shade($body__color, 10%);

//  breakpoints
$screen--large: $grid__container__width + 6em;

////////////////////////////////
//
//  Nav
//
$nav--primary__bg: $primary__color;
$nav--primary__color: white;

$nav__link__color: tint($body__color, 30%);

