---
layout: default
---
<header class="hero__nav">
    <div class="grid__container">
        <div class="nav__group">
            <a class="nav__link" href="{{ '/topics' | prepend: site.baseurl }}">
                <span class="nav__icon [ icon icon-pricetag ]"></span>
            </a>
            <a class="nav__link" href="{{ '/references' | prepend: site.baseurl }}">
                <span class="nav__icon [ icon icon-share ]"></span>
            </a>
            <a class="nav__link active" href="{{ '/assignments' | prepend: site.baseurl }}">
                <span class="nav__icon [ icon icon-pencil ]"></span>
            </a>
        </div>
    </div>
</header>
<section class="grid__container">
    <div class="hero">
        <h3>Assignments <strong>by Category</strong></h3>
        {% assign sorted_categories = (site.categories | sort: 0) %}
        {% for lesson in sorted_categories %}
        <div class="panel" id="{{ lesson | first | append: '__parent' }}">
            <a class="panel__header [ nav__link nav__collapse ]" data-toggle="collapse" data-target="{{ lesson | first | prepend: '#' | append: '__collapse' }}">
                <strong class="nav__text">{{ lesson | first | capitalize }}</strong>
                <span class="nav__icon [ icon icon-minus ]" id="{{ lesson | first | append: '__icon' }}"></span>
            </a>
            <div class="panel__body [ collapse in ]" id="{{ lesson | first | append: '__collapse' }}">
                <ul>
                {% for posts in lesson %}
                {% for post in posts reversed %}
                {% if post.url %}
                <li class="grid__row">
                    <a class="grid__col--third nav__link" href="{{ post.url | prepend: site.baseurl }}">
                        <!-- {% for group in post.groups %}
                        <span class="nav__icon [ group__icon group__icon--{{ group }} ]"></span>
                        {% endfor %} -->
                        {{ post.title }}
                    </a>
                    <a class="grid__col--table nav__link" href="{{ post.assignment }}">
                        <span class="nav__icon [ icon icon-pencil ]"></span>
                        <span class="nav__text">{{ post.assignment }}</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- <article class="grid__row">
    <div class="grid__col--sidebar">
        <div class="sidebar">
            <header class="sidebar__header">
                <h5>All Lessons</h5>
            </header>
            <div class="sidebar__body">
            {% for category in site.categories %}
                <h5 class="sidebar__item [ category ]">
                    <strong>{{ category | first }}</strong>
                </h5>
                {% for posts in category %}
                {% for post in posts reversed %}
                <div class="sidebar__item">
                    <a class="sidebar__link nav__link" data-target="nav__isActive" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                        {{ post.title }}
                    </a>
                    <div class="icon__group">
                        <div class="icon__item">
                            {% for group in post.groups %}
                            <span class="nav__progress {{ group | append: '__progress' }}" data-target="{{ group | append: '__count' }}">•</span>
                            {% endfor %}
                        </div>
                        <div class="icon__item">
                            <a href="{{ post.reference }}" target="_blank">
                                <span class="icon icon-share"></span>
                            </a>
                        </div>
                        <div class="icon__item">
                            <a href="{{ post.assignment }}">
                                <span class="icon icon-pencil"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="grid__col--hero">
        <div class="hero">
            <header class="hero__header">
                <h5>{{ page.title | capitalize }}</h5>
            </header>
            <div class="hero__body">
                {% for category in site.categories %}
                <h5 class="hero__item [ category ]"></h5>
                {% for posts in category %}
                {% for post in posts reversed %}
                <div class="hero__item">
                    <a class="sidebar__link nav__link" data-target="nav__isActive" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                        {{ post.assignment }}
                    </a>
                </div>
                {% endfor %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</article> -->