---
layout: default
---
<article class="grid__row">
    <div class="grid__col--sidebar">
        <div class="sidebar"></div>
            <header class="sidebar__header">
                <h5>All Lessons</h5>
            </header>
            <div class="sidebar__body">
            {% for category in site.categories %}
                <h5 class="sidebar__item [ category ]">
                    <strong>{{ category | first }}</strong>
                </h5>
                {% for posts in category %}
                {% for post in posts reversed %}
                <div class="sidebar__item">
                    <a class="sidebar__link nav__link" data-target="nav__isActive" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                        {{ post.title }}
                    </a>
                    <div class="icon__group">
                        <div class="icon__item">
                            {% for group in post.groups %}
                            <span class="nav__progress {{ group | append: '__progress' }}" data-target="{{ group | append: '__count' }}">•</span>
                            {% endfor %}
                        </div>
                        <div class="icon__item">
                            <a href="{{ post.reference }}" target="_blank">
                                <span class="icon icon-share"></span>
                            </a>
                        </div>
                        <div class="icon__item">
                            <a href="{{ post.assignment }}">
                                <span class="icon icon-pencil"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="grid__col--hero">
        <div class="hero">
            <header class="hero__header">
                <h5>{{ page.title | capitalize }}</h5>
            </header>
            <div class="hero__body">
                {% for category in site.categories %}
                <h5 class="hero__item [ category ]"></h5>
                {% for posts in category %}
                {% for post in posts reversed %}
                <div class="hero__item">
                    <a class="sidebar__link nav__link" data-target="nav__isActive" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                        {{ post.reference | remove: "http://www." }}
                    </a>
                </div>
                {% endfor %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</article>