---
layout: default
---
<article class="grid__row content">
    <nav class="grid__col--sidebar">
        <header class="sidebar__header">
            <h5 class="heading--secondary">lessons</h5>
        </header>
        <div class="sidebar__body">
            {% for post in site.posts reversed %}
            <a class="nav__link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                <span class="nav__text">{{ post.title }}</span>
                {% for group in post.groups %}
                <span class="nav__progress {{ group | append: '__progress' }}">•</span>
                {% endfor %}
            </a>
            {% endfor %}
        </div>
    </nav>
    <div class="grid__col--lesson">
        <div class="lesson">
            <header class="lesson__header">
                <h5 class="heading--secondary go__left">{{ page.title }}</h5>
            </header>
            <div class="lesson__body">
                {% for post in site.posts reversed %}
                <div class="lesson__item">
                    <a href="{{ post.reference }}" target="_blank">
                        <span class="icon icon-share" style="margin-right: calc(1.333em/2);"></span>
                        {{ post.reference | remove: 'http://www.' }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>