---
layout: default
---
<article class="grid__row">
    <nav class="grid__col--1 [ nav--secondary ]">
        <h5 class="heading--secondary">lessons</h5>
        {% for post in site.posts reversed %}
        <div class="go__parent">
            <a class="go__left nav__link overflow-ellipsis" style="width: 80%;" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
            {% for group in post.groups %}
            <span class="go__right {{ group | append: '__progress' }}">•</span>
            {% endfor %}
        </div>
        {% endfor %}
    </nav>
    <div class="grid__col--3">
        <div class="lesson">
            <div class="go__parent">
                <h5 class="heading--secondary go__left">{{ page.title }}</h5>
                <div class="go__right">
                {% for category in site.categories %}
                {% assign catg_name = category.first %}
                    {% if catg_name == page.categories.first | downcase %}
                        {% assign catg_posts = category.last %}
                    {% endif %}
                {% endfor %}
                {% for post in catg_posts %}
                    {% if post.title == page.title %}
                        {% unless forloop.last %}
                            {% assign next = catg_posts[forloop.index] %}
                            <a href="{{ site.baseurl }}{{ next.url }}"><span class="icon icon-arrow-left"></span></a>
                        {% endunless %}
                        {% unless forloop.first %}
                            <a href="{{ site.baseurl }}{{ prev.url }}"><span class="icon icon-arrow-right"></span></a>
                        {% endunless %}
                    {% endif %}
                    {% assign prev = post %}
                {% endfor %}
                </div>
            </div>
            <p>
            {% for tags in page.tags %}
                <a href="{{ '/topics/#' | append: tags | prepend: site.baseurl | remove:' ' }}" style="margin-right: calc(1.333em/2);">{{ tags }}</a>
            {% endfor %}
            </p>
            <p>
            {% if page.assignment %}
                <a href="{{ page.assignment | prepend: site.baseurl }}" style="margin-right: 1.333em;">
                    <span class="icon icon-pencil" style="margin-right: calc(1.333em/2);"></span>
                    {{ page.assignment }}
                </a>
            {% endif %}
            {% if page.reference %}
                <a href="{{ page.reference }}" target="_blank">
                    <span class="icon icon-share" style="margin-right: calc(1.333em/2);"></span>
                    {{ page.reference | remove: 'http://www.' }}
                </a>
            {% endif %}
            </p>
            <section>
            {{ content }}
            </section>
        </div>
    </div>
</article>