---
layout: default
---
<article class="{{ page.group }}">
    <nav class="nav nav--secondary">
        <a class="nav__title" href="{{ '/' | append: page.group | prepend: site.baseurl | remove:' ' }}">{{ page.group }}</a>
        <a class="nav__right" href="{{ '/' | append: page.group | prepend: site.baseurl }}">
            Home&nbsp;<span class="icon icon-home"></span>
        </a>
    </nav>
    <div class="lesson">
        <header>
            <h3 class="lesson__title">
                <span>{{ page.title }}</span>
                <time class="lesson__date">{{ page.date | date: "%-m/%-d" }}</time>
            </h3>
            <ul class="list--commas">
            {% for tags in page.tags %}
                <li><a class="lesson__tag" href="{{ '/tags/#' | append: tags | prepend: site.baseurl | remove:' ' }}"><strong>{{ tags }}</strong></a></li>
            {% endfor %}
            </ul>
        </header>
        <section>
        {{ content }}
        </section>
        {% if page.assignment %}
        <section>
            <h5 class="heading--secondary">Assignment</h5>
            <p>
                <a href="">{{ page.assignment }}</a>
                <!-- <a href="{{ '/assignments/#' | append: page.assignment | prepend: site.baseurl }}">{{ page.assignment }}</a> -->
                <a class="nav__right" href="{{ '/assignments/' | prepend: site.baseurl }}">see all</a>
            </p>
        </section>
        {% endif %}
        {% if page.reference %}
        <section>
            <h5 class="heading--secondary">Reference</h5>
            <p>
                <a href="{{ page.reference }}" target="_blank">{{ page.reference | remove: 'http://www.' }}</a>
                <!-- <a href="{{ '/references/#' | append: page.reference | prepend: site.baseurl }}">{{ page.reference }}</a> -->
                <a class="nav__right" href="{{ '/references/' | prepend: site.baseurl }}">see all</a>
            </p>
        </section>
        {% endif %}
    </div>
    <footer>
        <nav class="nav nav--secondary">
        {% for category in site.categories %}
        {% assign catg_name = category.first %}
            {% if catg_name == page.categories.first | downcase %}
                {% assign catg_posts = category.last %}
            {% endif %}
        {% endfor %}
        {% for post in catg_posts %}
            {% if post.title == page.title %}
                {% unless forloop.last %}
                    {% assign next = catg_posts[forloop.index] %}
                    <div class="nav__left">
                        <a href="{{ site.baseurl }}{{ next.url }}"><span class="icon icon-arrow-left"></span>&nbsp;Prev</a>
                    </div>
                {% endunless %}
                {% unless forloop.first %}
                    <div class="nav__right">
                        <a href="{{ site.baseurl }}{{ prev.url }}">Next&nbsp;<span class="icon icon-arrow-right"></span></a>
                    </div>
                {% endunless %}
            {% endif %}
            {% assign prev = post %}
        {% endfor %}
        </nav>
    </footer>
</article>