---
layout: default
---
<nav class="nav nav--secondary">
    <h4 class="nav__title">{{ page.title }}
        <a class="nav__right" href="{{ '/' | prepend: site.baseurl }}">
            Home&nbsp;<span class="icon icon-home"></span>
        </a>
    </h4>
</nav>

{{ content }}

<h5>Current</h5>
{% for post in site.posts %}
{% if post.categories contains page.title %}
{% if post.categories contains 'recent' %}
<div>
    <p>Lesson: <a href="{{ post.url | prepend: site.baseurl }}"><span>{{ post.title }}</span></a></p>
    <p>Tags:
    {% for tags in post.tags %}
    <a href="{{ '/tags/#' | append: tags | remove:' ' }}">{{ tags }}</a>
    {% endfor %}
    </p>
    <p>Summary:<a href="{{ page.summary | prepend: site.baseurl }}">{{ page.summary }}</a></p>
    <p>Assignment:<a href="{{ page.assignment | prepend: site.baseurl }}">{{ page.assignment }}</a></p>
    <p>Reference:<a href="{{ page.reference | prepend: site.baseurl }}">{{ page.reference }}</a></p>
</div>
{% endif %}
{% endif %}
{% endfor %}


<h5>All Lessons</h5>
<div>
    {% for post in site.posts %}
    {% if post.categories contains page.title %}
    <div>
        <time>{{ post.date | date: "%-d %B %Y" }}</time>&nbsp;|
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>&nbsp;|
        {% for tags in post.tags %}
        <a href="{{ '/tags/#' | append: tags | remove:' ' }}">{{ tags }}</a>
        {% endfor %}
    <div>
    {% endif %}
    {% endfor %}
</div>