---
layout: default
---
<article class="grid__row content">
    <div class="grid__col--sidebar">
        <nav class="filter">
            <header class="filter__header">
                <h5 class="heading--secondary">lessons</h5>
            </header>
            <div class="filter__body">
                {% for post in site.posts reversed %}
                <a class="nav__link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                    <span class="nav__text">{{ post.title }}</span>
                    {% for group in post.groups %}
                    <span class="nav__progress {{ group | append: '__progress' }}">•</span>
                    {% endfor %}
                </a>
                {% endfor %}
            </div>
        </nav>
    </div>
    <div class="grid__col--lesson">
        <div class="lesson">
            <header class="lesson__header">
                <h5 class="heading--secondary">{{ page.title }}</h5>
            </header>
            <div class="lesson__body">
                {% for post in site.posts reversed %}
                <div class="lesson__item">
                    <a href="{{ post.assignment }}" target="_blank">
                        <span class="icon icon-pencil" style="margin-right: calc(1.333em/2);"></span>
                        {{ post.assignment | remove: 'http://www.' }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>