%grid__sizing {    
    @include box-sizing(border-box);
}
%grid__clear:after {
    content: "";
    clear: both;
    display: table;
}
.grid__container {
    @extend %grid__sizing;
    @extend %grid__clear;
    padding-right: $grid__gutter;
    padding-left: $grid__gutter;
    margin: 0 auto;
    max-width: $grid__container__width;
}
.grid__row {
    @extend %grid__sizing;
    @extend %grid__clear;
    margin-right: $grid__gutter * -1;
    margin-left: $grid__gutter * -1;
}
[class^="grid__col--"] {
    @extend %grid__sizing;
    float: left;
    position: relative;
    padding-right: $grid__gutter;
    padding-left: $grid__gutter;
}
.grid__col--half {
    width: 50%;
}
%sidebar__width {
    width: $grid__container__width / 4;
}
.grid__col--current {
    float: right;
    @extend %sidebar__width;
}
.grid__col--sidebar {
    @extend %sidebar__width;
    z-index: 30;
}
.grid__col--hero,
.grid__col--table {    
    float: none;
    width: 10000px;
    display: table-cell;
}
.grid__col--hero {
    // color: $hero__color;
    background-color: $hero__bg;
    .hero {
        &:before,
        &:after {
            content: "";
            clear: both;
            display: block;
            height: 100%;
            width: 1px;
            position: absolute;
            background-color: shade($body__bg,10%);            
            top: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}
.home .hero .grid__col--sidebar {
    width: rhythm(4);
}
.topics,
.references,
.assignments {
    .hero:after {
        display: none;
    }
}



