.icon__group {
    &:hover {
        cursor: default;
    }
}

.icon__item {
    width: rhythm(1);
    display: inline-block;

    position: relative;
    top: rhythm(.25) * -1;
    margin-bottom: rhythm(.5) * -1;
    a, > .icon {
        display: inline-block;
        padding: rhythm(.25);
    }
}