.layout__nav {
    background-color: $body__bg;
    @include media(large) {
        float: left;
    }
    position: relative;
    z-index: 1500;
}
.layout__hero {
    background-color: $layout__hero__bg;
    @include media(large) {
        display: table-cell;
        width: 10000px;
    }
}