ul, li + li {    
    @include margin-leader(.5);
}
.list--bullets {
    > li {
        &:before {
            content: "\2022";
            display: inline-block;
            padding-right: rhythm(.5);
        }
    }
}
// .list--commas {    
//     @extend .list--inline;
//     > li:not(:last-child):after {
//         content: ",";
//     }
// }

